apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tekton-dashborard
  namespace: oauth2-proxy
  annotations:
    kubernetes.io/ingress.class: "traefik"
spec:
  tls:
  - hosts:
    - {{.Runtime.TektonConfig.Host}}
  rules:
  - host: {{.Runtime.TektonConfig.Host}}
    http:
      paths:
      - path: /oauth2
        pathType: ImplementationSpecific
        backend:
          service:
            name: oauth2-proxy
            port:
              number: 80
